<div
  class="flex flex-row w-[100%] max-md:ml-0 max-md:w-full"
  role="button"
  tabindex="0"
  [attr.aria-label]="tile.title + ' section'"
>
  <div class="flex flex-col w-full max-md:mt-10 max-md:max-w-full ">
    <div
      [class]="
        'px-20 py-16 rounded-3xl border border-solid max-md:px-5 max-md:max-w-full hover:bg-gray-300 border-' +
        tile.borderColor
      "
    >
      <div [routerLink]="tile.route" class="flex gap-5 max-md:flex-col">
        <div class="flex flex-col w-[46%] max-md:ml-0 max-md:w-full">
          <div
            class="self-stretch my-auto text-4xl font-semibold text-black max-md:mt-10 max-md:text-4xl"
          >
            {{ tile.title }}
          </div>
        </div>
        <div class="flex flex-col ml-5 w-[54%] max-md:ml-0 max-md:w-full">
          <img
            loading="lazy"
            [src]="tile.imageSrc"
            class="object-contain grow shrink-0 max-w-full aspect-[1.28] w-[160px] max-md:mt-10"
            [alt]="tile.title + ' icon'"
          />
        </div>
      </div>
    </div>
  </div>
</div>
