<main class="flex justify-center items-center w-dvw h-dvh font-urbanist">
  <form
    action=""
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    class="flex flex-col items-center gap-20 w-1/3"
  >
    <img src="/assets/logo.png" width="264px" height="201px" alt="" />
    <h1 class="text-3xl font-bold">Es bueno verte de nuevo,</h1>
    <section class="w-3/4">
      <label for="user">Correo Electrónico</label>
      <app-form-input
        [control]="loginForm.controls.user"
        cssClass="login"
        formControlName="user"
        errorMessage="Usuario requerido"
      />
      <label for="password">Contraseña</label>
      <app-form-input
        [control]="loginForm.controls.password"
        cssClass="login"
        formControlName="password"
        errorMessage="Contraseña requerida"
        type="password"
      />
    </section>
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="py-2 px-5 bg-mantis-400 text-white font-semibold rounded"
    >
      Subir
    </button>
  </form>
</main>
