<form
  [formGroup]="reportForm"
  (ngSubmit)="sendForm()"
  class="w-full flex flex-col h-full justify-between gap-6 px-3 py-3 font-urbanist"
>
  <div class="flex justify-between">
    <h1 class="text-3xl font-bold">Solicita piezas</h1>

    <ion-icon class="text-3xl" (click)="closeModal()" name="close"></ion-icon>
  </div>

  <div class="flex-col flex gap-5">
    <div class="flex flex-col gap-2">
      <div class="flex gap-2 flex-col">
        <label for="type">Tipo de servicios</label>
        <select
          (change)="ChangeServiceType($event)"
          class="rounded-lg border-[1px] p-1 border-mantis-600"
          name="type"
          id=""
          formControlName="type"
        >
          <option value="" selected>Seleccione una sección</option>

          @for (type of serviceTypes; track type.serviceTypeId) {
          <option [value]="type.serviceTypeId">
            {{ type.serviceTypeName }}
          </option>
          }
        </select>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <div class="flex gap-2 flex-col">
        <label for="service">Servicio</label>
        <select
          class="rounded-lg border-[1px] p-1 border-mantis-600"
          name="service"
          id=""
          formControlName="service"
        >
          <option value="" selected>Seleccione una sección</option>
          @for (service of services; track service.serviceId) {
          <option [value]="service.serviceId">{{ service.serviceName }}</option>
          }
        </select>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <div class="flex gap-2 flex-col">
        <label for="priority">Prioridad</label>
        <select
          class="rounded-lg border-[1px] p-1 border-mantis-600"
          name="priority"
          id=""
          formControlName="priority"
        >
          <option value="" selected>Seleccione una sección</option>
          @for (priority of priorities; track priority.priorityId) {
          <option [value]="priority.priorityId">
            {{ priority.priorityName }}
          </option>
          }
        </select>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <label for="description">Comentario</label>
      <app-form-input
        [control]="reportForm.controls.description"
        cssClass="tech"
        formControlName="description"
        errorMessage="Necesitamos una explicación de la solicitud"
      ></app-form-input>
    </div>
  </div>

  <!-- <button
        type="submit"
        [disabled]="reportForm.invalid"
        class="self-center flex items-center gap-2 bg-mantis-600 text-white font-semibold w-fit rounded-full pl-2 disabled:opacity-50"
      >
        <p>Reportar</p>
        <div
          class="size-8 flex items-center justify-center p-2 bg-mantis-600 rounded-[50%] text-lg"
        >
          <ion-icon name="action"></ion-icon>
        </div>
      </button> -->

  <button
    type="submit"
    [disabled]="reportForm.invalid"
    class="bg-mantis-700 text-white font-bold rounded-xl px-3 py-1 items-center flex justify-center relative disabled:opacity-50"
  >
    Enviar reporte
    <ion-icon name="action" class="absolute right-0 text-3xl"></ion-icon>
  </button>
</form>
